/*
    acm - align center and align middle.
*/
.acm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15vw;
}
.OorX {
    position: relative;
    width: 30vw;
    height: 30vw;
    color: white;
    background-color: blue;
    display: inline-block;
}
