body {
    width: 100%;
    background-color: darkslategrey;
    color: white;
/*    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 50px;*/
}
h1 {
    text-align: center;

}
.part1 {
    display: inline;
}
.part1:after {
    content: "\A";
    white-space: pre;
}
p {
}
header img {
    width: 100%;
}
.inline-img {
}

@media screen and (min-width: 520px) {
    .part1 {
        display: inline;
    }
    .part1:after {
        content: " - ";
    }
}
