body {
    width: 100%;
    background-color: darkslategrey;
    color: white;
/*    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 50px;*/
}
h1 {
    text-align: center;
}
p {
}
header img {
    width: 100%;
}
.inline-img {
}
