#red {
    height: 12vh;
    background-color: red;
}
#orange {
    height: 12vh;
    background-color: orange;
}
#yellow {
    height: 12vh;
    background-color: yellow;
}
#green {
    height: 12vh;
    background-color: green;
}
#blue {
    height: 12vh;
    background-color: blue;
}
#indigo {
    height: 12vh;
    background-color: indigo;
}
#violet {
    height: 12vh;
    background-color: violet;
}
